* {
  padding: 0px;
  margin: 0px; }

html {
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  height: 100%;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.side-drawer {
  display: none; }

header {
  display: flex;
  max-width: 1140px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: 13vh; }
  header .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto; }
    header .header-wrapper .top-header {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
      width: 100%; }
      header .header-wrapper .top-header h1 {
        /* unvisited link */
        /* visited link */
        /* mouse over link */ }
        header .header-wrapper .top-header h1 a:link {
          color: black;
          text-decoration: none; }
        header .header-wrapper .top-header h1 a:visited {
          color: black; }
        header .header-wrapper .top-header h1 a:hover {
          color: hotpink; }
    header .header-wrapper .bottom-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 40px; }
      header .header-wrapper .bottom-header .toggle-button {
        display: none; }
      header .header-wrapper .bottom-header .post-navbar {
        display: flex;
        flex-direction: row;
        align-items: center; }
        header .header-wrapper .bottom-header .post-navbar ul {
          display: flex;
          list-style-type: none; }
          header .header-wrapper .bottom-header .post-navbar ul li a {
            text-decoration: none;
            padding-right: 20px; }
      header .header-wrapper .bottom-header .user-navbar-not-in {
        display: flex;
        flex-direction: row;
        align-items: center; }
        header .header-wrapper .bottom-header .user-navbar-not-in ul {
          display: flex;
          list-style-type: none; }
          header .header-wrapper .bottom-header .user-navbar-not-in ul li a {
            text-decoration: none;
            padding-left: 10px; }
      header .header-wrapper .bottom-header .user-navbar-in {
        display: flex;
        flex-direction: row;
        align-items: center; }
        header .header-wrapper .bottom-header .user-navbar-in ul {
          display: flex;
          list-style-type: none; }
          header .header-wrapper .bottom-header .user-navbar-in ul li {
            text-decoration: none;
            padding-left: 10px; }

.categories-section h2 {
  margin-top: 3rem;
  text-align: center;
  background-color: red; }

.categories-section .container {
  display: flex;
  flex-direction: column;
  width: 1140px;
  width: 80%;
  margin: 3rem auto;
  height: 100vh;
   }
  .categories-section .container .categories-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .categories-section .container .categories-wrapper .music-category {
      background-color: red;
      width: 33%;
      height: 30vh; 
      
       
    }
    .categories-section .container .categories-wrapper .cinema-category {
      background-color: red;
      width: 33%;
      height: 30vh; 
    }   
    .categories-section .container .categories-wrapper .finearts-category {
      background-color: red;
      width: 33%;
      height: 30vh; }
    .categories-section .container .categories-wrapper .photography-category {
      margin-top: 6px;
      background-color: red;
      width: 33%;
      height: 30vh; }
    .categories-section .container .categories-wrapper .literature-category {
      margin-top: 6px;
      background-color: red;
      width: 33%;
      height: 30vh; }
    .categories-section .container .categories-wrapper .fashion-category {
      margin-top: 6px;
      background-color: red;
      width: 33%;
      height: 30vh; }

.profile h2 {
  padding: 5vh 0 5vh 0;
  text-align: center; }

.profile .container {
  display: flex;
  flex-direction: row;
  width: 1140px;
  margin: auto;
  background-color: red; }
  .profile .container .first-column {
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: orange; }
  .profile .container .second-column {
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: green; }

.users-list-image {
  width: 200px; }

.edit-profile-section h2 {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 50px; }

.edit-profile-section .container {
  display: flex;
  flex-direction: column;
  width: 1140px;
  width: 80%;
  margin: 1rem auto;
  height: 120vh; }
  .edit-profile-section .container .form-first-row {
    display: flex;
    width: 100%;
    flex-direction: row; }
    .edit-profile-section .container .form-first-row .form-first-row-first-column {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .edit-profile-section .container .form-first-row .form-first-row-first-column .form-group {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0; }
        .edit-profile-section .container .form-first-row .form-first-row-first-column .form-group label {
          font-weight: bold; }
        .edit-profile-section .container .form-first-row .form-first-row-first-column .form-group .form-control {
          width: 80%; }
    .edit-profile-section .container .form-first-row .form-first-row-second-column {
      display: flex;
      flex-direction: column;
      align-items: left;
      width: 50%;
      padding-left: 10%; }
      .edit-profile-section .container .form-first-row .form-first-row-second-column .form-group {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0; }
        .edit-profile-section .container .form-first-row .form-first-row-second-column .form-group label {
          font-weight: bold; }
        .edit-profile-section .container .form-first-row .form-first-row-second-column .form-group .form-control {
          margin-top: 10px;
          color: black;
          width: 90%;
          height: 30px; }
  .edit-profile-section .container .form-second-row {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row; }
    .edit-profile-section .container .form-second-row .form-second-row-first-column {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .edit-profile-section .container .form-second-row .form-second-row-first-column .form-group {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0; }
        .edit-profile-section .container .form-second-row .form-second-row-first-column .form-group label {
          font-weight: bold; }
        .edit-profile-section .container .form-second-row .form-second-row-first-column .form-group .form-control {
          margin-top: 10px;
          color: black;
          width: 90%;
          height: 30px; }
    .edit-profile-section .container .form-second-row .form-second-row-second-column {
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-left: 10%;
      width: 50%; }
      .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0; }
        .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group label {
          font-weight: bold; }
        .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group .form-control {
          margin-top: 10px;
          color: black;
          width: 90%;
          height: 30px; }
        .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group .form-control-area {
          margin-top: 10px;
          color: black;
          width: 90%;
          height: 300px; }
  .edit-profile-section .container .edit-profile-button {
    margin-top: 60px;
    margin-bottom: 200px;
    display: flex;
    height: 30px;
    justify-content: center; }
    .edit-profile-section .container .edit-profile-button button {
      width: 200px;
      background-color: tomato;
      color: white; }

@media screen and (min-width: 600px) and (max-width: 965px) {
  * {
    padding: 0px;
    margin: 0px; }
  html {
    height: 100%; }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
    height: 100%; }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
  .side-drawer {
    display: block;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    max-width: 250px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out; }
    .side-drawer ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 55%; }
      .side-drawer ul li {
        margin: 0.8rem 0; }
        .side-drawer ul li a {
          color: tomato;
          text-decoration: none;
          font-size: 1.2rem; }
  .side-drawer.open {
    transform: translateX(0); }
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 120, 71, 0.8);
    z-index: 100; }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 13vh; }
    header .header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 80%;
      margin: 0 auto; }
      header .header-wrapper .top-header {
        display: flex;
        flex-direction: row;
        width: 100%; }
      header .header-wrapper .bottom-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40px; }
        header .header-wrapper .bottom-header .toggle-button {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 24px;
          width: 30px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          margin-top: 8px;
          padding: 0px;
          box-sizing: border-box; }
          header .header-wrapper .bottom-header .toggle-button .toggle-button-line {
            width: 30px;
            height: 2px;
            background-color: black; }
        header .header-wrapper .bottom-header .toggle-button:focus {
          outline: none; }
        header .header-wrapper .bottom-header .post-navbar {
          display: none;
          flex-direction: row;
          align-items: center; }
          header .header-wrapper .bottom-header .post-navbar ul {
            display: flex;
            list-style-type: none; }
            header .header-wrapper .bottom-header .post-navbar ul li a {
              text-decoration: none;
              padding-right: 20px; }
        header .header-wrapper .bottom-header .user-navbar-not-in {
          display: flex;
          flex-direction: row;
          align-items: center; }
          header .header-wrapper .bottom-header .user-navbar-not-in ul {
            display: flex;
            list-style-type: none; }
            header .header-wrapper .bottom-header .user-navbar-not-in ul li a {
              text-decoration: none;
              padding-left: 10px; }
        header .header-wrapper .bottom-header .user-navbar-in {
          display: flex;
          flex-direction: row;
          align-items: center; }
          header .header-wrapper .bottom-header .user-navbar-in ul {
            display: flex;
            list-style-type: none; }
            header .header-wrapper .bottom-header .user-navbar-in ul li {
              text-decoration: none;
              padding-left: 10px; }
  .profile h2 {
    padding: 5vh 0 5vh 0;
    text-align: center; }
  .profile .container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    background-color: red; }
    .profile .container .first-column {
      padding: 5%;
      display: flex;
      flex-direction: column;
      width: 50%;
      background-color: orange; }
    .profile .container .second-column {
      padding: 5%;
      display: flex;
      flex-direction: column;
      width: 50%;
      background-color: green; }
  .categories-section h2 {
    margin-top: 3rem;
    text-align: center; }
  .categories-section .container {
    display: flex;
    flex-direction: column;
    width: 1140px;
    width: 80%;
    margin: 3rem auto;
    height: 100vh; }
    .categories-section .container .categories-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .categories-section .container .categories-wrapper .music-category {
        background-color: yellow;
        width: 49.5%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .cinema-category {
        background-color: blue;
        width: 49.5%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .finearts-category {
        margin-top: 6px;
        background-color: green;
        width: 49.5%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .photography-category {
        margin-top: 6px;
        background-color: red;
        width: 49.5%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .literature-category {
        margin-top: 6px;
        background-color: orange;
        width: 49.5%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .fashion-category {
        margin-top: 6px;
        background-color: pink;
        width: 49.5%;
        height: 30vh; } }

@media screen and (max-width: 599px) {
  * {
    padding: 0px;
    margin: 0px; }
  html {
    height: 100%; }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
    height: 100%; }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
  .side-drawer {
    display: block;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    max-width: 250px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out; }
    .side-drawer ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 55%; }
      .side-drawer ul li {
        margin: 0.8rem 0; }
        .side-drawer ul li a {
          color: tomato;
          text-decoration: none;
          font-size: 1.2rem; }
  .side-drawer.open {
    transform: translateX(0); }
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 120, 71, 0.8);
    z-index: 100; }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 13vh; }
    header .header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 80%;
      margin: 0 auto; }
      header .header-wrapper .top-header {
        display: flex;
        flex-direction: row;
        width: 100%; }
      header .header-wrapper .bottom-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40px; }
        header .header-wrapper .bottom-header .toggle-button {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 24px;
          width: 30px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          margin-top: 8px;
          padding: 0px;
          box-sizing: border-box; }
          header .header-wrapper .bottom-header .toggle-button .toggle-button-line {
            width: 30px;
            height: 2px;
            background-color: black; }
        header .header-wrapper .bottom-header .toggle-button:focus {
          outline: none; }
        header .header-wrapper .bottom-header .post-navbar {
          display: none;
          flex-direction: row;
          align-items: center; }
          header .header-wrapper .bottom-header .post-navbar ul {
            display: flex;
            list-style-type: none; }
            header .header-wrapper .bottom-header .post-navbar ul li a {
              text-decoration: none;
              padding-right: 20px; }
        header .header-wrapper .bottom-header .user-navbar-not-in {
          display: flex;
          flex-direction: row;
          align-items: center; }
          header .header-wrapper .bottom-header .user-navbar-not-in ul {
            display: flex;
            list-style-type: none; }
            header .header-wrapper .bottom-header .user-navbar-not-in ul li a {
              text-decoration: none;
              padding-left: 10px; }
        header .header-wrapper .bottom-header .user-navbar-in {
          display: flex;
          flex-direction: row;
          align-items: center; }
          header .header-wrapper .bottom-header .user-navbar-in ul {
            display: flex;
            list-style-type: none; }
            header .header-wrapper .bottom-header .user-navbar-in ul li {
              text-decoration: none;
              padding-left: 10px; }
  .profile h2 {
    padding: 5vh 0 5vh 0;
    text-align: center; }
  .profile .container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    background-color: red; }
    .profile .container .first-column {
      padding: 5%;
      display: flex;
      flex-direction: column;
      width: 50%;
      background-color: orange; }
    .profile .container .second-column {
      padding: 5%;
      display: flex;
      flex-direction: column;
      width: 50%;
      background-color: green; }
  .categories-section h2 {
    margin-top: 3rem;
    text-align: center; }
  .categories-section .container {
    display: flex;
    flex-direction: column;
    width: 1140px;
    width: 100%;
    margin: 3rem auto;
    height: 100vh; }
    .categories-section .container .categories-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .categories-section .container .categories-wrapper .music-category {
        margin-top: 6px;
        background-color: yellow;
        width: 100%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .cinema-category {
        margin-top: 6px;
        background-color: blue;
        width: 100%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .finearts-category {
        margin-top: 6px;
        background-color: green;
        width: 100%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .photography-category {
        margin-top: 6px;
        background-color: red;
        width: 100%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .literature-category {
        margin-top: 6px;
        background-color: orange;
        width: 100%;
        height: 30vh; }
      .categories-section .container .categories-wrapper .fashion-category {
        margin-top: 6px;
        background-color: pink;
        width: 100%;
        height: 30vh; }
  .edit-profile-section h2 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 50px; }
  .edit-profile-section .container {
    display: flex;
    flex-direction: column;
    width: 1140px;
    width: 80%;
    margin: 1rem auto;
    height: 120vh; }
    .edit-profile-section .container .form-first-row {
      display: flex;
      width: 100%;
      flex-direction: column; }
      .edit-profile-section .container .form-first-row .form-first-row-first-column {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .edit-profile-section .container .form-first-row .form-first-row-first-column .form-group {
          display: flex;
          flex-direction: column;
          margin: 20px 0 0 0; }
          .edit-profile-section .container .form-first-row .form-first-row-first-column .form-group label {
            font-weight: bold; }
          .edit-profile-section .container .form-first-row .form-first-row-first-column .form-group .form-control {
            width: 80%; }
      .edit-profile-section .container .form-first-row .form-first-row-second-column {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        padding-left: 0%; }
        .edit-profile-section .container .form-first-row .form-first-row-second-column .form-group {
          display: flex;
          flex-direction: column;
          margin: 20px 0 0 0; }
          .edit-profile-section .container .form-first-row .form-first-row-second-column .form-group label {
            font-weight: bold; }
          .edit-profile-section .container .form-first-row .form-first-row-second-column .form-group .form-control {
            margin-top: 10px;
            color: black;
            width: 100%;
            height: 30px; }
    .edit-profile-section .container .form-second-row {
      margin-top: 20px;
      display: flex;
      width: 100%;
      flex-direction: column-reverse; }
      .edit-profile-section .container .form-second-row .form-second-row-first-column {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .edit-profile-section .container .form-second-row .form-second-row-first-column .form-group {
          display: flex;
          flex-direction: column;
          margin: 20px 0 0 0; }
          .edit-profile-section .container .form-second-row .form-second-row-first-column .form-group label {
            font-weight: bold; }
          .edit-profile-section .container .form-second-row .form-second-row-first-column .form-group .form-control {
            margin-top: 10px;
            color: black;
            width: 100%;
            height: 30px; }
      .edit-profile-section .container .form-second-row .form-second-row-second-column {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left: none;
        width: 100%;
        padding-left: 0%; }
        .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group {
          display: flex;
          flex-direction: column;
          margin: 20px 0 0 0; }
          .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group label {
            font-weight: bold; }
          .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group .form-control {
            margin-top: 10px;
            color: black;
            width: 100%;
            height: 30px; }
          .edit-profile-section .container .form-second-row .form-second-row-second-column .form-group .form-control-area {
            margin-top: 10px;
            color: black;
            width: 100%;
            height: 300px; }
    .edit-profile-section .container .edit-profile-button {
      margin-top: 60px;
      margin-bottom: 200px;
      display: flex;
      height: 30px;
      justify-content: center; }
      .edit-profile-section .container .edit-profile-button button {
        width: 200px;
        background-color: tomato;
        color: white;
        border: none; } }


 