
*{
    padding:0px;
    margin:0px;
  }
  html{
    height: 100%;
  }
  
  body {
    font-family: futura;
    min-height:100%;
    display: flex;
    flex-direction: column;
     
      // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',' futura',  'Roboto', 'Oxygen',
      // sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {}

  
  .side-drawer{
    display: none;
  }
  .user-side-drawer{
    display:none;
  }
  header{
    display: flex;
    max-width: 1140px;
    width:80%;
    margin:0 auto;
    justify-content: space-between;
    height:13vh;
    // background-color: #000000;
      
      .header-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        width:100%;
        margin: 0 auto;
          
          .top-header{
            display:flex;
            flex-direction: row;
            padding-top: 15px;
            width:100%;
            // background-color: yellow;
              h1{
                         /* unvisited link */
                        a:link {
                          color: black;
                          text-decoration: none;
                        }
  
                        /* visited link */
                        a:visited {
                          color: black;
                        }
  
                        /* mouse over link */
                        a:hover {
                          color: hotpink;
                        }
              }
              .u-menu-mv{
                  display:none;
              }
              .toggle-button{
                display: none;
              }

          }
  
          .bottom-header{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width:100%;
            height: 40px;
  
              .toggle-button{
                display:none;
              }
  
              
              
              .post-navbar{
                display:flex;
                flex-direction: row;
                align-items: center;
                  ul{
                    display: flex;
                    list-style-type: none;
    
                    li{
    
                      a{
                        text-decoration: none;
                        padding-right: 20px;
                      }
    
                    }
                  }
                }
                .user-navbar-not-in{
                  display:flex;
                  flex-direction: row;
                  align-items: center;
                    ul{
                      display: flex;
                      list-style-type: none;    
                      li{
                        a{
                          text-decoration: none;
                          padding-left: 10px;
                        }
      
                      }
                    }
  
                }
                .user-navbar-in{
                  display:flex;
                  flex-direction: row;
                  align-items: center;
                  margin-top: 8px;
                    ul{
                      display: flex;
                      list-style-type: none; 
                      
                      .nav-user-name{
                        text-decoration: none;
                        padding-left: 20px;


                      } 
                      .nav-item-search{
                        display:none;
                        padding-left: 20px;
                        max-width: 20px;  

                      }
  
                      .nav-item{
                          text-decoration: none;
                          padding-left: 20px;
                          max-width: 20px;  

                      }
                      .logout-in{
                        padding-left: 20px;
                      }
                      .user-menu-foto{
                        padding-left: 20px;
                          margin-top:-4px;

                      }
                      .image-profile-div{
                        max-width: 30px;
                        border: 1px;

                        position:relative;
                       
                          img{
                            position: relative;
                            border-radius: 50%;

                            width: 100%;}
                      }

                      // .user_menu{
                      //   color: rgb(216, 25, 25);
                      //   display: block;
                      //   transition-duration: 0.5s;

                      //     ul{
                      //       display:flex;
                      //       flex-direction: column;
                      //       position: absolute;
                      //       right:10.5%;
                      //       min-width: 20%;
                      //       margin-top: 10px;
                      //       visibility: hidden;
                      //       opacity: 0;
                      //       transition: all 3s ease;
                      //       display: none;
                      //       background-color: salmon;

                      //     }
                          

                      
                      // .user_menu:hover > ul,
                      //     ul li ul:hover {
                      //       visibility: visible;
                      //       opacity: 1;
                      //       display: flex;
                      //       flex-direction: column;
                      //       align-items: center;
                      //       transition-duration: 4s;
                      //       transition-delay: 2s;
                      //     }
                    }
                }
            }
      }
  }
  .categories-section{
    
    // background-color: red;
  
  
    h2{
      margin-top: 3rem;
      text-align: center;
    }
  
    .container{
      display:flex;
      flex-direction: column;
      width:1140px;
      width:80%;
      margin: 3rem auto;
      height:70vh;
        // background-color: red;
  
        .categories-wrapper{
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
  
              .music-category {
                width:33%;
                height: 255px;
                overflow: hidden;
                  img{width:105%;
                  // overflow: hidden;
                  }
              }
              .cinema-category {
                max-width:33%;
                height: 255px;
                overflow: hidden;
                  img{width:120%;
                  }
              }
              .finearts-category {
                width:33%;
                height: 255px;
                overflow: hidden;
                  img{width:100%;
                  }
              }
              .photography-category {
                width:33%;
                height: 255px;
                overflow: hidden;
                  img{width:100%;
                  }
              }
              .literature-category {
                width:33%;
                height: 255px;
                overflow: hidden;
                  img{width:100%;
                  }
              }
              .fashion-category {
                width:33%;
                height: 255px;
                overflow: hidden;
                  img{width:100%;
                  }
              }
        }
  
  
    } 
  
  }
.single-post-section{

              .container{
                display:flex;
                flex-direction: column;
                width:1140px;
                width:80%;
                margin: 3rem auto;
                height:100vh;


                .user-menu-foto {
                  width:20px;
                }
              }
    
}

  .post-section {

      .container{
        display:flex;
        flex-direction: column;
        width:1140px;
        width:80%;
        margin: 3rem auto;
        img{
          width:200px;
        }
      }
  }
  
  
  .profile{
    h2{
      padding:5vh 0 5vh 0;
      text-align: center;
      }
      .container{
          display:flex;
          flex-direction: row;
          width:1140px;
          margin:  auto;
          
          .first-column{
            padding:5%;
            display: flex;
            flex-direction: column;
            width:50%;
            background-color: orange;
  
  
          }
          .second-column{
            padding:5%;
            display: flex;
            flex-direction: column;
            width:50%;
            background-color:green;
  
          }
      }
  }
  .users-list-image{
    width:200px;
  }
  
  
  

  
  // edit profile page
  
  .edit-profile-section{
    h2{
      margin-top: 1rem;
      text-align: center;
      margin-bottom:50px;
    }
  
    .container{
      display:flex;
      flex-direction: column;
      width:1140px;
      width:80%;
      margin: 1rem auto;
      height:120vh;
      // background-color: red;
  
        
  
        .form-first-row{
          display: flex;
          width:100%;
          flex-direction:row;
          // background-color: blue;
  
            .form-first-row-first-column{
              // background-color:green;
              display:flex;
              flex-direction: column;
              width:50%;
                .form-group{
                  display:flex;
                  flex-direction: column;
                  margin:20px 0 0 0;
  
                    label{
                      font-weight: bold;
                    }
  
                    .form-control{
                      width:80%;
  
                    }
                }
            }
            .form-first-row-second-column{
              // background-color:pink;
              display:flex;
              flex-direction: column;
              align-items: left;
              width:50%;
              padding-left:10%;
  
                .form-group{
                  display:flex;
                  flex-direction: column;
                  margin:20px 0 0 0;
  
                    label{
                      font-weight: bold;
                    }
  
                    .form-control {
                      margin-top: 10px;
                      color: black;
                      width:90%;
                      height:30px;
  
                    }
                }
            }
        }
  
        .form-second-row{
          margin-top: 20px;
          display: flex;
          width:100%;
          flex-direction:row;
          // background-color: blue;
  
            .form-second-row-first-column{
              // background-color:green;
              display:flex;
              flex-direction: column;
              width:50%;
  
  
                    .form-group{
                      display:flex;
                      flex-direction: column;
                      margin:20px 0 0 0;
  
      
                      label{
                        font-weight: bold;
                      }
    
                      .form-control {
                        margin-top: 10px;
                        color: black;
                        width:90%;
                        height:30px;
    
                      }
                    
                  }
            }
            .form-second-row-second-column{
              // background-color:pink;
              display:flex;
              flex-direction: column;
              align-items: left;
              padding-left:10%;
              width:50%;
                .form-group{
                  display:flex;
                  flex-direction: column;
                  margin:20px 0 0 0;
  
  
                  label{
                    font-weight: bold;
                  }
  
                  .form-control {
                    margin-top: 10px;
                    color: black;
                    width:90%;
                    height:30px;
  
  
                  }
  
                  .form-control-area {
                    margin-top: 10px;
                    color: black;
                    width:90%;
                    height:300px;
  
                  }
                }
               
            }
            
        }
        .edit-profile-button{
          margin-top: 60px;
          margin-bottom: 200px;
          display: flex;
          height:30px;
          justify-content: center;
  
            button{
              width:200px;
              background-color:tomato;
              color:white;
            }
        }
      
        
    }
  
  }
 
  .container-not-found{
    display:flex;
      flex-direction: column;
      width:1140px;
      width:80%;
      margin: 1rem auto;
      height:60vh;
        h2{
          text-align: center;
        }

  }
  
  
  footer{
          
    // background-color: blue;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    min-height:10vh;
    margin: auto;
     }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media screen and (min-width:600px) and (max-width:965px){
  
    *{
      padding:0px;
      margin:0px;
    }
  
    
   html{
    height: 100%;
    }
  
    body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      sans-serif;
      height:100%;
    }
    
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    
    .App {
      
    }
  
    .side-drawer{
      display:block;
      height:100%;
      background-color: white;
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
      position: fixed;
      top:0;
      left:0;
      width:45%;
      max-width:250px;
      z-index: 200;
      transform: translateX(-100%);
      transition: transform 0.3s ease-out;
  
         ul{
  
           list-style: none;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           height:55%;
  
           li{
             margin:0.8rem 0;
  
              a{
                color:tomato;
                text-decoration: none;
                font-size: 1.2rem;
              }
          }
        }
    }
    .side-drawer.open{
      transform: translateX(0)
    }
  
    .backdrop{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(255, 120, 71, 0.8);
      z-index: 100;
    }
  
    header{
      display: flex;
      width:100%;
      justify-content: space-between;
      height:13vh;
      // background-color: #000000;
        
        .header-wrapper{
          display:flex;
          flex-direction: column;
          justify-content: space-evenly;
          width:80%;
          margin: 0 auto;
            
            .top-header{
              display:flex;
              flex-direction: row;
              width:100%;
              // background-color: yellow;
              .toggle-button{
                display:none;
                flex-direction: column;
                justify-content: space-around;
                height:24px;
                width: 30px;
                background-color: transparent;
                border:none;
                cursor:pointer;
                margin-top: 8px;
                padding:0px;
                box-sizing: border-box;

                  .toggle-button-line{
                    width: 30px;
                    height:2px;
                    background-color: black;
                  }
              }
              .toggle-button:focus {
                outline:none;
              }
            }
    
            .bottom-header{
              display:flex;
              flex-direction: row;
              justify-content: space-between;
              width:100%;
              height: 40px;
                
              .toggle-button{
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                height:24px;
                width: 30px;
                background-color: transparent;
                border:none;
                cursor:pointer;
                margin-top: 8px;
                padding:0px;
                box-sizing: border-box;

                  .toggle-button-line{
                    width: 30px;
                    height:2px;
                    background-color: black;
                  }
              }
              .toggle-button:focus {
                outline:none;
              }
    
                
                .post-navbar{
                  display:none;
                  flex-direction: row;
                  align-items: center;
                    ul{
                      display: flex;
                      list-style-type: none;
      
                      li{
      
                        a{
                          text-decoration: none;
                          padding-right: 20px;
                        }
      
                      }
                    }
                  }
                  .user-navbar-not-in{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                      ul{
                        display: flex;
                        list-style-type: none;    
                        li{
                          a{
                            text-decoration: none;
                            padding-left: 10px;
                          }
        
                        }
                      }
    
                  }
                  .user-navbar-in{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                      ul{
                        display: flex;
                        list-style-type: none;    
                        li{
                            text-decoration: none;
                            padding-left: 10px;
                        }
                      }
    
                  }
              }
            
        }
    }
    
    .profile{
      h2{
        padding:5vh 0 5vh 0;
        text-align: center;
        }
        .container{
            display:flex;
            flex-direction: row;
            width:70%;
            margin:  auto;
            background-color: red;
            
            .first-column{
              padding:5%;
              display: flex;
              flex-direction: column;
              width:50%;
              background-color: orange;
    
    
            }
            .second-column{
              padding:5%;
              display: flex;
              flex-direction: column;
              width:50%;
              background-color:green;
    
            }
        }
    }
    
  
  
  
  .categories-section{
    // background-color: red;
  
  
    h2{
      margin-top: 3rem;
      text-align: center;
    }
  
    .container{
      display:flex;
      flex-direction: column;
      width:1140px;
      width:80%;
      margin: 3rem auto;
      height:100vh;
        // background-color: red;
  
        .categories-wrapper{
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
  
              .music-category {
                width:49.5%;
                height: 30vh;
              }
              .cinema-category {
                width:49.5%;
                height: 30vh;
              }
              .finearts-category {
                margin-top: 6px;
  
                width:49.5%;
                height: 30vh;
              }
              .photography-category {
                margin-top: 6px;
  
                width:49.5%;
                height: 30vh;
              }
              .literature-category {
                margin-top: 6px;
                width:49.5%;
                height: 30vh;
              }
              .fashion-category {
                margin-top: 6px;
                width:49.5%;
                height: 30vh;
              }
        }
  
  
    } 
  
  }
 
  
  }
  
  
  
  @media screen and (max-width:599px) {
  
  
    *{
      padding:0px;
      margin:0px;
    }
  
    
   html{
    height: 100%;
    }
  
    body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      sans-serif;
      height:100%;
    
    }
    
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    h1{
      text-align: center;
    }
    
    .App {
      
    }
    .side-drawer{
      display:block;
      height:100%;
      background-color: white;
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
      position: fixed;
      top:0;
      left:0;
      width:45%;
      max-width:250px;
      z-index: 200;
      transform: translateX(-100%);
      transition: transform 0.3s ease-out;
  
         ul{
  
           list-style: none;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           height:55%;
  
           li{
             margin:0.8rem 0;
  
              a{
                color:tomato;
                text-decoration: none;
                font-size: 1.2rem;
              }
          }
        }
    }
    .side-drawer.open{
      transform: translateX(0)
    }
  
    .user-side-drawer{
      display:block;
      height:100%;
      background-color: white;
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
      position: fixed;
      top:0;
      right:0;
      width:45%;
      max-width:250px;
      z-index: 200;
      transform: translateX(200%);
      transition: transform 0.3s ease-out;
  
         ul{
  
           list-style: none;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           height:55%;
  
           li{
             margin:0.8rem 0;
  
              a{
                color:tomato;
                text-decoration: none;
                font-size: 1.2rem;
              }
          }
        }
    }
    .user-side-drawer.open{
      transform: translateX(0)
    }
  
    .backdrop{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(255, 120, 71, 0.8);
      z-index: 100;
    }
  
    header{
      display: flex;
      width:100%;
      justify-content: space-between;
      height:13vh;
      // background-color: #000000;
        
        .header-wrapper{
          display:flex;
          flex-direction: column;
          justify-content: space-evenly;
          width:80%;
          margin: 0 auto;
            
            .top-header{
              display:flex;
              flex-direction: row;
              width:100%;
              // background-color: yellow;

              .b-menu-mv{
                display:flex;
                    .toggle-button{
                      display:flex;
                      flex-direction: column;
                      justify-content: space-around;
                      height:24px;
                      width: 30px;
                      background-color: transparent;
                      border:none;
                      cursor:pointer;
                      margin-top: 8px;
                      padding:0px;
                      box-sizing: border-box;

                        .toggle-button-line{
                          width: 30px;
                          height:2px;
                          background-color: black;
                        }
                    }
                    .toggle-button:focus {
                      outline:none;
                    }
                  }


            .header-title{
              display:flex;
              justify-content: center;
              flex:1;
            }
            .u-menu-mv{
              display:flex;
              width: 30px;
              height: 30px;
              margin-top: 7px;

                      .user-foto{
                        position: relative;
                        border-radius: 50%;
                      }
                  
                }
        }
            .bottom-header{
              display:flex;
              flex-direction: row;
              justify-content: center;
              width:100%;
              height: 40px;
                
                .post-navbar{
                  display:none;
                  flex-direction: row;
                  align-items: center;
                    ul{
                      display: flex;
                      list-style-type: none;
      
                      li{
      
                        a{
                          text-decoration: none;
                          padding-right: 20px;
                        }
      
                      }
                    }
                  }
                  .user-navbar-not-in{
                    display:none;
                    flex-direction: row;
                    align-items: center;
                      ul{
                        display: flex;
                        list-style-type: none;    
                        li{
                          a{
                            text-decoration: none;
                            padding-left: 10px;
                          }
        
                        }
                      }
    
                  }
                  .user-navbar-in{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                      ul{
                        display: flex;
                        list-style-type: none;  
                        .nav-item-search{
                          display:flex;
                          padding-left: 20px;
                          max-width: 20px;  
  
                        }
                          
                        li{
                            text-decoration: none;
                            padding-left: 10px;
                        }
                        .logout-in{
                          display:none;
                        }
                        .user-menu-foto{
                          display:none;
                        }
                      }
    
                  }
              }
            
        }
    }
    
    .profile{
      h2{
        padding:5vh 0 5vh 0;
        text-align: center;
        }
        .container{
            display:flex;
            flex-direction: row;
            width:70%;
            margin:  auto;
            background-color: red;
            
            .first-column{
              padding:5%;
              display: flex;
              flex-direction: column;
              width:50%;
              background-color: orange;
    
    
            }
            .second-column{
              padding:5%;
              display: flex;
              flex-direction: column;
              width:50%;
              background-color:green;
    
            }
        }
    }
    
  
  
  
  
    .categories-section{
      // background-color: red;
    
    
      h2{
        margin-top: 3rem;
        text-align: center;
      }
    
      .container{
        display:flex;
        flex-direction: column;
        width:1140px;
        width:100%;
        margin: 3rem auto;
        min-height:185vh;
          // background-color: red;
    
          .categories-wrapper{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    
                .music-category {
                  margin-top: 6px;
  
                  background-color: yellow;
                  width:100%;
                  height: 30vh;
                }
                .cinema-category {
                  margin-top: 6px;
  
                  background-color: blue;
                  width:100%;
                  height: 30vh;
                }
                .finearts-category {
                  margin-top: 6px;
    
                  background-color: green;
                  width:100%;
                  height: 30vh;
                }
                .photography-category {
                  margin-top: 6px;
    
                  background-color: red;
                  width:100%;
                  height: 30vh;
                }
                .literature-category {
                  margin-top: 6px;
                  background-color: orange;
                  width:100%;
                  height: 30vh;
                }
                .fashion-category {
                  margin-top: 6px;
                  background-color: pink;
                  width:100%;
                  height: 30vh;
                }
          }
      } 
    }
  
  // edit profile page
  
  .edit-profile-section{
    h2{
      margin-top: 1rem;
      text-align: center;
      margin-bottom:50px;
    }
  
    .container{
      display:flex;
      flex-direction: column;
      width:1140px;
      width:80%;
      margin: 1rem auto;
      height:120vh;
      // background-color: red;
  
        
  
        .form-first-row{
          display: flex;
          width:100%;
          flex-direction:column;
          // background-color: blue;
  
            .form-first-row-first-column{
              // background-color:green;
              display:flex;
              flex-direction: column;
              width:100%;
                .form-group{
                  display:flex;
                  flex-direction: column;
                  margin:20px 0 0 0;
  
                    label{
                      font-weight: bold;
                    }
  
                    .form-control{
                      width:80%;
  
                    }
                }
            }
            .form-first-row-second-column{
              // background-color:pink;
              display:flex;
              flex-direction: column;
              align-items: left;
              width:100%;
              padding-left:0%;
  
                .form-group{
                  display:flex;
                  flex-direction: column;
                  margin:20px 0 0 0;
  
                    label{
                      font-weight: bold;
                    }
  
                    .form-control {
                      margin-top: 10px;
                      color: black;
                      width:100%;
                      height:30px;
  
                    }
                }
            }
        }
  
        .form-second-row{
          margin-top: 20px;
          display: flex;
          width:100%;
          flex-direction:column-reverse;
          // background-color: blue;
  
            .form-second-row-first-column{
              // background-color:green;
              display:flex;
              flex-direction: column;
              width:100%;
  
  
  
                    .form-group{
                      display:flex;
                      flex-direction: column;
                      margin:20px 0 0 0;
  
      
                      label{
                        font-weight: bold;
                      }
    
                      .form-control {
                        margin-top: 10px;
                        color: black;
                        width:100%;
                        height:30px;
    
                      }
                    
                  }
            }
            .form-second-row-second-column{
              // background-color:pink;
              display:flex;
              flex-direction: column;
              align-items: left;
              padding-left:none;
              width:100%;
              padding-left:0%;
  
                .form-group{
                  display:flex;
                  flex-direction: column;
                  margin:20px 0 0 0;
  
  
                  label{
                    font-weight: bold;
                  }
  
                  .form-control {
                    margin-top: 10px;
                    color: black;
                    width:100%;
                    height:30px;
  
  
                  }
  
                  .form-control-area {
                    margin-top: 10px;
                    color: black;
                    width:100%;
                    height:300px;
  
                  }
                }
               
            }
            
        }
        .edit-profile-button{
          margin-top: 60px;
          margin-bottom: 200px;
          display: flex;
          height:30px;
          justify-content: center;
  
            button{
              width:200px;
              background-color:tomato;
              color:white;
              border:none;
              
            }
        }
        
    }
  
  
    
  
  }

  
  
  }